.input {
  width: 2.87rem;
  height: 2.87rem;
  border-radius: 0.43rem;

  background-color: var(--bg-purple);
  border: 2px solid var(--light-purple);

  color: var(--light-purple);

  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;

  outline: none;
}